<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.god.yb.testgitdemo">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.ServiceDemoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <service
            android:name=".Service.LocalService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Service.RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <activity android:name=".activities.BaseActivity" />
        <activity android:name=".activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.DateBaseActivity"></activity>
    </application>

</manifest>